#main{
    text-align: center;
    
}

h1{
    border-bottom: 1px solid lightgray;
}

#btn{
    margin: 10px auto;
    width: 60px;
    height: 30px;
    display: block;
}

/* In order to place the tracking correctly */
canvas.drawing, canvas.drawingBuffer{
    display:none;
}